<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
    <main>
    {% block main_content %}
    {% endblock %}
    </main>
    
    <footer>
    {% if g.admin %}
        <p><a href="{{ url_for('admin')}}">Back to admin page</a></p>
        <p>Username: {{g.admin}}</p>
        <p><a href="{{url_for('logout')}}"> Sign out</a></p>
    {% elif g.user %}
        <p><a href ="{{url_for('index')}}">Head to the home page</a></p>
        <p><a href="{{url_for('basket')}}">Check your basket</p>
        <p>Username: {{g.user}}</p>
        <p><a href="{{url_for('logout')}}">Sign out</a></p>
    {% else %}
        <p><a href="{{ url_for('login')}}">Sign in</a></p>
        <p><a href="{{ url_for('register') }}">Register to our shop</a></p>
        <p><a href="{{ url_for('index') }}"> Head back to home page</a></p>
    {% endif %}
    </footer>

</body>
</html>